strands-agents
python-dotenv==1.1.1
strands-agents-tools
strands-agents[openai]
guardrails-ai
nltk
transformers
torch
detoxify
gliner
presidio-analyzer
presidio-anonymizer
uv
bedrock-agentcore
ddgs
duckduckgo-search
pymongo
asyncpg
presidio-analyzer
presidio-anonymizer